@model HomePageViewModel

@{
    ViewData["Title"] = "Anasayfa";
}

<partial name="_Carousel" model="Model.Sliders" />

<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            <partial name="_Products" model="Model.Products" />
        </div>
    </div>
</section>


@section Scripts{
    <script>
        //console.log("scripts çalışıyor"); // not: section Scripts partialde çalışmıyor! indexde çalışıyor.
        $("#carouselExampleCaptions .carousel-item:first").addClass("active")
    </script>
}